@{
    ViewData["Title"] = "Home Page";
}

@section Scripts{
   @*  Nhúng file JS chung của trang chủ ở đây *@
}

@section Styles {
    @*  Nhúng file CSS chung của trang chủ ở đây *@
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@* Nếu trang chủ có nhiều partial view, sẽ tạo partial theo quy tắc, P_Tên Partial, và nhúng vào đây *@